@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: Source Sans Pro;
    background-color: #eee;
}

header {
    font-family: Abril Fatface;
}

h2, h4, h5, p {
    font-family: Roboto Slab;
}

.newspaper-container {
    background-color: white;
    box-shadow: 2px 2px 4px #ddd;
    padding: 1em;
    margin: auto;
    margin-bottom: 5em;
    border-radius: 1em 0.5em 0.5em 1em;
    width: 700pt;
}

h5 {
    color: #dd3232;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #dd3232;
}

ul {
    list-style-type: none;
    text-align: center;
}

nav ul {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

h1 {
    text-align: center;
}

li {
    display: inline-block;
    padding: .5em 2em .5em 0;
}

img {
    width: 100%;
}

section {
    width: 40%;
    display: inline-block;
    margin: 0 1em 0 3.5em;
}

section p, main p {
    padding: 0 1em;
}

nav {
    position: sticky;
    top: 0em;
    background-color: white;
}

.even-more-articles section {
    width: 25%;
}

footer {
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: purple;
}

footer li {
    text-decoration: underline;
}